/* login page  */

.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../images/loginbg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.fa-eye:before {
    content: "\f06e" !important;
}

.login-wrapper input[type="text"],
.login-wrapper input[type="email"],
.login-wrapper input[type="password"] {
    width: 100%;
    height: 50px !important;
    background-color: var(--white-color);
    display: block;
    border: 1px solid var(--darkBorder-color);
    font-size: 14px;
    font-weight: 400;
}

.input-password-wrap {
    position: relative;
}

.input-password-wrap>i {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.input-password-wrap .is-invalid ~ .error ~ .fa {
    right: 30px;
}

.form_wrapper .nextstepbtn {
    min-width: 100%;
}

.login-wrapper .form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgb(223 164 101 / 10%);
}

.login-wrapper label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-wrapper label.form-check-label {
    margin: 0;
}

.login-wrapper form.form_wrapper h3 {
    font-size: 25px;
    font-weight: 600;
    color: var(--secondary);
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.login-wrapper .top-content-login img {
    max-width: 105px;
    margin-bottom: 12px;
}

.top-content-login {
    text-align: center;
}

.login-wrapper .form-check-input:checked {
    background-color: var(--black-color);
    border-color: var(--black-color);
}

.login-wrapper .form-check-input:focus {
    border-color: var(--gray-color);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.login-wrapper .form_wrapper {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    border: 1px solid var(--darkBorder-color);
    padding: 35px 30px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.login-wrapper .top-content-login img {
    max-width: 150px;
    margin: 0;
}

.tooltiplabel span.tooltipIcon {
    display: inline-flex;
    width: 14px;
    height: 14px;
    transform: translate(2px, 3px);
}

.login-wrapper .form-check .form-check-input{
    margin-top: 0.8px;
}

.login-wrapper .login-background{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    object-fit: cover;
}

.login-wrapper .container{
    z-index: 1;
}

.mailstar{
    color: var(--red-color);
}
/* end  */